* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 26px;
}
.tile {
  display: inline-block;
}
.stack {
  display: block;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.v-align-top {
  vertical-align: top;
}
.v-align-center,
.v-align-middle {
  vertical-align: middle;
}
.v-align-bottom {
  vertical-align: bottom;
}
.h-align-left {
  text-align: left;
}
.h-align-center,
.h-align-middle {
  text-align: center;
}
.h-align-right {
  text-align: right;
}
.container {
  margin: auto;
  max-width: 768px;
}
.w-1-2 {
  width: 50%;
}
.w-1-3 {
  width: 33.333333333333336%;
}
.w-2-3 {
  width: 66.66666666666667%;
}
.w-1-4 {
  width: 25%;
}
.w-2-4 {
  width: 50%;
}
.w-3-4 {
  width: 75%;
}
.w-1-5 {
  width: 20%;
}
.w-2-5 {
  width: 40%;
}
.w-3-5 {
  width: 60%;
}
.w-4-5 {
  width: 80%;
}
.w-1-7 {
  width: 14.285714285714286%;
}
.w-2-7 {
  width: 28.571428571428573%;
}
.w-3-7 {
  width: 42.857142857142854%;
}
.w-4-7 {
  width: 57.142857142857146%;
}
.w-5-7 {
  width: 71.42857142857143%;
}
.w-6-7 {
  width: 85.71428571428571%;
}
.w-1-8 {
  width: 12.5%;
}
.w-2-8 {
  width: 25%;
}
.w-3-8 {
  width: 37.5%;
}
.w-4-8 {
  width: 50%;
}
.w-5-8 {
  width: 62.5%;
}
.w-6-8 {
  width: 75%;
}
.w-7-8 {
  width: 87.5%;
}
.w-1-12 {
  width: 8.333333333333334%;
}
.w-2-12 {
  width: 16.666666666666668%;
}
.w-3-12 {
  width: 25%;
}
.w-4-12 {
  width: 33.333333333333336%;
}
.w-5-12 {
  width: 41.666666666666664%;
}
.w-6-12 {
  width: 50%;
}
.w-7-12 {
  width: 58.333333333333336%;
}
.w-8-12 {
  width: 66.66666666666667%;
}
.w-9-12 {
  width: 75%;
}
.w-10-12 {
  width: 83.33333333333333%;
}
.w-11-12 {
  width: 91.66666666666667%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .w-1-2-sm {
    width: 50%;
  }
  .w-1-3-sm {
    width: 33.333333333333336%;
  }
  .w-2-3-sm {
    width: 66.66666666666667%;
  }
  .w-1-4-sm {
    width: 25%;
  }
  .w-2-4-sm {
    width: 50%;
  }
  .w-3-4-sm {
    width: 75%;
  }
  .w-1-5-sm {
    width: 20%;
  }
  .w-2-5-sm {
    width: 40%;
  }
  .w-3-5-sm {
    width: 60%;
  }
  .w-4-5-sm {
    width: 80%;
  }
  .w-1-7-sm {
    width: 14.285714285714286%;
  }
  .w-2-7-sm {
    width: 28.571428571428573%;
  }
  .w-3-7-sm {
    width: 42.857142857142854%;
  }
  .w-4-7-sm {
    width: 57.142857142857146%;
  }
  .w-5-7-sm {
    width: 71.42857142857143%;
  }
  .w-6-7-sm {
    width: 85.71428571428571%;
  }
  .w-1-8-sm {
    width: 12.5%;
  }
  .w-2-8-sm {
    width: 25%;
  }
  .w-3-8-sm {
    width: 37.5%;
  }
  .w-4-8-sm {
    width: 50%;
  }
  .w-5-8-sm {
    width: 62.5%;
  }
  .w-6-8-sm {
    width: 75%;
  }
  .w-7-8-sm {
    width: 87.5%;
  }
  .w-1-12-sm {
    width: 8.333333333333334%;
  }
  .w-2-12-sm {
    width: 16.666666666666668%;
  }
  .w-3-12-sm {
    width: 25%;
  }
  .w-4-12-sm {
    width: 33.333333333333336%;
  }
  .w-5-12-sm {
    width: 41.666666666666664%;
  }
  .w-6-12-sm {
    width: 50%;
  }
  .w-7-12-sm {
    width: 58.333333333333336%;
  }
  .w-8-12-sm {
    width: 66.66666666666667%;
  }
  .w-9-12-sm {
    width: 75%;
  }
  .w-10-12-sm {
    width: 83.33333333333333%;
  }
  .w-11-12-sm {
    width: 91.66666666666667%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .w-1-2-md {
    width: 50%;
  }
  .w-1-3-md {
    width: 33.333333333333336%;
  }
  .w-2-3-md {
    width: 66.66666666666667%;
  }
  .w-1-4-md {
    width: 25%;
  }
  .w-2-4-md {
    width: 50%;
  }
  .w-3-4-md {
    width: 75%;
  }
  .w-1-5-md {
    width: 20%;
  }
  .w-2-5-md {
    width: 40%;
  }
  .w-3-5-md {
    width: 60%;
  }
  .w-4-5-md {
    width: 80%;
  }
  .w-1-7-md {
    width: 14.285714285714286%;
  }
  .w-2-7-md {
    width: 28.571428571428573%;
  }
  .w-3-7-md {
    width: 42.857142857142854%;
  }
  .w-4-7-md {
    width: 57.142857142857146%;
  }
  .w-5-7-md {
    width: 71.42857142857143%;
  }
  .w-6-7-md {
    width: 85.71428571428571%;
  }
  .w-1-8-md {
    width: 12.5%;
  }
  .w-2-8-md {
    width: 25%;
  }
  .w-3-8-md {
    width: 37.5%;
  }
  .w-4-8-md {
    width: 50%;
  }
  .w-5-8-md {
    width: 62.5%;
  }
  .w-6-8-md {
    width: 75%;
  }
  .w-7-8-md {
    width: 87.5%;
  }
  .w-1-12-md {
    width: 8.333333333333334%;
  }
  .w-2-12-md {
    width: 16.666666666666668%;
  }
  .w-3-12-md {
    width: 25%;
  }
  .w-4-12-md {
    width: 33.333333333333336%;
  }
  .w-5-12-md {
    width: 41.666666666666664%;
  }
  .w-6-12-md {
    width: 50%;
  }
  .w-7-12-md {
    width: 58.333333333333336%;
  }
  .w-8-12-md {
    width: 66.66666666666667%;
  }
  .w-9-12-md {
    width: 75%;
  }
  .w-10-12-md {
    width: 83.33333333333333%;
  }
  .w-11-12-md {
    width: 91.66666666666667%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
  .w-1-2-lg {
    width: 50%;
  }
  .w-1-3-lg {
    width: 33.333333333333336%;
  }
  .w-2-3-lg {
    width: 66.66666666666667%;
  }
  .w-1-4-lg {
    width: 25%;
  }
  .w-2-4-lg {
    width: 50%;
  }
  .w-3-4-lg {
    width: 75%;
  }
  .w-1-5-lg {
    width: 20%;
  }
  .w-2-5-lg {
    width: 40%;
  }
  .w-3-5-lg {
    width: 60%;
  }
  .w-4-5-lg {
    width: 80%;
  }
  .w-1-7-lg {
    width: 14.285714285714286%;
  }
  .w-2-7-lg {
    width: 28.571428571428573%;
  }
  .w-3-7-lg {
    width: 42.857142857142854%;
  }
  .w-4-7-lg {
    width: 57.142857142857146%;
  }
  .w-5-7-lg {
    width: 71.42857142857143%;
  }
  .w-6-7-lg {
    width: 85.71428571428571%;
  }
  .w-1-8-lg {
    width: 12.5%;
  }
  .w-2-8-lg {
    width: 25%;
  }
  .w-3-8-lg {
    width: 37.5%;
  }
  .w-4-8-lg {
    width: 50%;
  }
  .w-5-8-lg {
    width: 62.5%;
  }
  .w-6-8-lg {
    width: 75%;
  }
  .w-7-8-lg {
    width: 87.5%;
  }
  .w-1-12-lg {
    width: 8.333333333333334%;
  }
  .w-2-12-lg {
    width: 16.666666666666668%;
  }
  .w-3-12-lg {
    width: 25%;
  }
  .w-4-12-lg {
    width: 33.333333333333336%;
  }
  .w-5-12-lg {
    width: 41.666666666666664%;
  }
  .w-6-12-lg {
    width: 50%;
  }
  .w-7-12-lg {
    width: 58.333333333333336%;
  }
  .w-8-12-lg {
    width: 66.66666666666667%;
  }
  .w-9-12-lg {
    width: 75%;
  }
  .w-10-12-lg {
    width: 83.33333333333333%;
  }
  .w-11-12-lg {
    width: 91.66666666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .w-1-2-xl {
    width: 50%;
  }
  .w-1-3-xl {
    width: 33.333333333333336%;
  }
  .w-2-3-xl {
    width: 66.66666666666667%;
  }
  .w-1-4-xl {
    width: 25%;
  }
  .w-2-4-xl {
    width: 50%;
  }
  .w-3-4-xl {
    width: 75%;
  }
  .w-1-5-xl {
    width: 20%;
  }
  .w-2-5-xl {
    width: 40%;
  }
  .w-3-5-xl {
    width: 60%;
  }
  .w-4-5-xl {
    width: 80%;
  }
  .w-1-7-xl {
    width: 14.285714285714286%;
  }
  .w-2-7-xl {
    width: 28.571428571428573%;
  }
  .w-3-7-xl {
    width: 42.857142857142854%;
  }
  .w-4-7-xl {
    width: 57.142857142857146%;
  }
  .w-5-7-xl {
    width: 71.42857142857143%;
  }
  .w-6-7-xl {
    width: 85.71428571428571%;
  }
  .w-1-8-xl {
    width: 12.5%;
  }
  .w-2-8-xl {
    width: 25%;
  }
  .w-3-8-xl {
    width: 37.5%;
  }
  .w-4-8-xl {
    width: 50%;
  }
  .w-5-8-xl {
    width: 62.5%;
  }
  .w-6-8-xl {
    width: 75%;
  }
  .w-7-8-xl {
    width: 87.5%;
  }
  .w-1-12-xl {
    width: 8.333333333333334%;
  }
  .w-2-12-xl {
    width: 16.666666666666668%;
  }
  .w-3-12-xl {
    width: 25%;
  }
  .w-4-12-xl {
    width: 33.333333333333336%;
  }
  .w-5-12-xl {
    width: 41.666666666666664%;
  }
  .w-6-12-xl {
    width: 50%;
  }
  .w-7-12-xl {
    width: 58.333333333333336%;
  }
  .w-8-12-xl {
    width: 66.66666666666667%;
  }
  .w-9-12-xl {
    width: 75%;
  }
  .w-10-12-xl {
    width: 83.33333333333333%;
  }
  .w-11-12-xl {
    width: 91.66666666666667%;
  }
}
.pad-sm {
  padding: 13px;
}
.pad-h-sm {
  padding-left: 13px;
  padding-right: 13px;
}
.pad-v-sm {
  padding-left: 13px;
  padding-right: 13px;
}
.pad-md {
  padding: 26px;
}
.pad-h-md {
  padding-left: 26px;
  padding-right: 26px;
}
.pad-v-md {
  padding-left: 26px;
  padding-right: 26px;
}
.pad-lg {
  padding: 52px;
}
.pad-h-lg {
  padding-left: 52px;
  padding-right: 52px;
}
.pad-v-lg {
  padding-left: 52px;
  padding-right: 52px;
}
@media screen and (min-width: 480px) {
  .pad-sm-480 {
    padding: 13px;
  }
  .pad-h-sm-480 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-v-sm-480 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-md-480 {
    padding: 26px;
  }
  .pad-h-md-480 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-v-md-480 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-lg-480 {
    padding: 52px;
  }
  .pad-h-lg-480 {
    padding-left: 52px;
    padding-right: 52px;
  }
  .pad-v-lg-480 {
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (min-width: 768px) {
  .pad-sm-768 {
    padding: 13px;
  }
  .pad-h-sm-768 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-v-sm-768 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-md-768 {
    padding: 26px;
  }
  .pad-h-md-768 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-v-md-768 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-lg-768 {
    padding: 52px;
  }
  .pad-h-lg-768 {
    padding-left: 52px;
    padding-right: 52px;
  }
  .pad-v-lg-768 {
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (min-width: 1000px) {
  .pad-sm-1000 {
    padding: 13px;
  }
  .pad-h-sm-1000 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-v-sm-1000 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-md-1000 {
    padding: 26px;
  }
  .pad-h-md-1000 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-v-md-1000 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-lg-1000 {
    padding: 52px;
  }
  .pad-h-lg-1000 {
    padding-left: 52px;
    padding-right: 52px;
  }
  .pad-v-lg-1000 {
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (min-width: 1200px) {
  .pad-sm-1200 {
    padding: 13px;
  }
  .pad-h-sm-1200 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-v-sm-1200 {
    padding-left: 13px;
    padding-right: 13px;
  }
  .pad-md-1200 {
    padding: 26px;
  }
  .pad-h-md-1200 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-v-md-1200 {
    padding-left: 26px;
    padding-right: 26px;
  }
  .pad-lg-1200 {
    padding: 52px;
  }
  .pad-h-lg-1200 {
    padding-left: 52px;
    padding-right: 52px;
  }
  .pad-v-lg-1200 {
    padding-left: 52px;
    padding-right: 52px;
  }
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p {
  margin-top: 26px;
  margin-bottom: 26px;
}
.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child,
.content h5:first-child,
.content h6:first-child,
.content p:first-child {
  margin-top: auto;
}
.content h1:last-child,
.content h2:last-child,
.content h3:last-child,
.content h4:last-child,
.content h5:last-child,
.content h6:last-child,
.content p:last-child {
  margin-bottom: auto;
}
