<!DOCTYPE html>
<html>

	{% include head.html %}
	<body class="textured cs-0">
		<div class="cs-2 tiles tiles-justify pad-h-sm">
			<div class="tile tile-bottom">
				<h1 class="fs-xl">GhettoBox</h1>
			</div>
			<ul class="tile tile-bottom">
				<li class="tile">
					<a href="#">Home</a>
				</li>
				<li class="tile">
					<a href="#">Examples</a>
				</li>
				<li class="tile">
					<a href="#">GitHub</a>
				</li>
			</ul>
		</div>
		<div class="cs-1">
			<img class="w-fill" src="{{ "/images/logo.svg" | prepend: site.baseurl }}">
		</div>
		<div class="cs-2 pad-h-sm">
			Somethin somethin somethin, yo
		</div>
		<ul class="js-sub-nav tile take-no-space angle-bottom-right">
		</ul>
		<div class="container">
			<div class="w-30 content h-align-middle">
				{{ content }}
			</div>
		</div>
		<script type="text/javascript" src="{{ "/js/generate-sub-nav.js" | prepend: site.baseurl }}"></script>
	</body>
</html>