<!DOCTYPE html>
<html>

	{% include head.html %}
	<body class="textured cs-0 fixed-nav-wrapper">
		<div class="cs-2 tiles tiles-justify fixed-nav">
			<div class="tile tile-baseline pad-h-sm">
				<h1 class="fs-xl">
					<a href="{{ "/" | prepend: site.baseurl }}">GhettoBox</a>
				</h1>
			</div>
			<ul class="tile tile-baseline tiles">
				<li class="tile tile-baseline pad-h-sm">
					<a href="{{ "/" | prepend: site.baseurl }}">Home</a>
				</li>
				<li class="tile tile-baseline pad-h-sm">
					<a href="{{ "/documentation/" | prepend: site.baseurl }}">Documentation</a>
				</li>
				<li class="tile tile-baseline pad-h-sm">
					<a href="{{ "/examples/" | prepend: site.baseurl }}">Examples</a>
				</li>
				<li class="tile tile-baseline pad-h-sm">
					<a href="https://github.com/walkerab/ghetto-box">GitHub</a>
				</li>
			</ul>
		</div>
		<div class="cs-1 tiles">
			<img class="tile tile-middle w-1-2" src="{{ "/images/logo-text.svg" | prepend: site.baseurl }}">
			<img class="tile tile-middle w-1-2 boomboomboom-animation" src="{{ "/images/logo-image.svg" | prepend: site.baseurl }}">
		</div>
		<div class="cs-2 pad-h-sm pad-v-xs">
			Somethin somethin somethin, yo
		</div>
		<div class="tiles">
			<div class="md-tile md-w-1-5">
				<ul id="sidebar" class="js-sub-nav angle-bottom-right pad-nil table md-stack"></ul>
			</div>
			<div class="md-tile md-w-4-5 pad-sm">
				<div class="readable content center">
					{{ content }}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ "/js/generate-sub-nav.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript" src="{{ "/js/sticky-sidebar.js" | prepend: site.baseurl }}"></script>
	</body>
</html>